<header class="home-header">
  <a routerLink="/" class="home-header-home-link">
    <img src="/assets/trello-logo-white.svg" />
  </a>
  <div>
    <a routerLink="/login" class="home-header-login">Login</a>
    <a routerLink="/register" class="home-header-register">Registro</a>
  </div>
</header>

<div class="home-hero">
  <div class="home-container">
    <div>
      <h1 class="home-title">
        Primer parcial ingenieria de software.
      </h1>
      <p class="home-description">
        Proyecto pensado para facilitar tareas de desarrollo colaborativo basado en scrum.
      </p>
    </div>
    <div>
      <img src="/assets/hero.svg" />
    </div>
  </div>
</div>

<div class="home-team">
  <div class="home-container team-container">
    <div>
      <h1 class="home-title">Trabaja con cualquier equipo</h1>
      <p class="home-description">
        Ya sea trabajo, un proyecto secundario o una vacacion familiar, esta herramienta ayudara a organizarte.
      </p>
    </div>
    <div>
      <img src="/assets/work-with-any-team.png" class="team-image" />
    </div>
  </div>
</div>

<div class="home-information">
  <div class="home-container information-container">
    <div>
      <img src="/assets/information.svg" />
    </div>
    <div>
      <h1 class="home-title">Informacion a primera vista</h1>
      <p class="home-description">
        Agrega comentarios a cada historia de usuario para tener una idea mas acertada de que se trata cada una.
      </p>
    </div>
  </div>
</div>

<div class="home-workflow">
  <div class="home-container workflow-container">
    <div class="workflow-left-part">
      <h1 class="home-title">Estudiantes</h1>
      <p class="home-description">
        Estudiantes que colaboraron en este proyecto:
      </p>
      <ul>
        <li>Mattinen Valdez Mauricio Jr</li>
        <li>Cruz Vargas Joan Paul</li>
        <li>Meneses Choque Karla Patricia</li>
      </ul>
    </div>

    <div>
      <img src="/assets/workflow.png" class="workflow-image" />
    </div>
  </div>
</div>
